<%- partial ('../common/admin_nav.ejs') %>
<div class="container" id="page-bet-manager">
  <h4><span class="phone-daily pull-right label label-warning"><%= req.session.user.phone %></span>
    <span class="bet-hom-nay pull-right label label-warning"><%= todayDate %></span>
  </h4>
  <h2>Danh Sách Tin Nhắn</h2>
  <table class="table table-hover" id="manage-bet">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Số ĐT</th>
      <th>Tin Gốc</th>
      <th>Tin Chỉnh Sửa</th>
      <th>Xử lý</th>

    </tr>
    </thead>
    <tbody>
    <% _.each(foundBets,function(bet) { %>
    <tr>
      <td class="bet_id"><%= bet.id %></td>
      <td class="bet_name"><%= bet.player.name %></td>
      <td class="bet_phone"><%= bet.player.phone %></td>
      <td class="bet_message"><%= bet.message %></td>
      <td class="bet_msgedit"><%= bet.msgedit %></td>
      <td class="bet_submit">
        <a class="btn btn-primary edit_bet"><i class="fa fa-pencil-square-o"></i> Sửa</a>
        <a href="/bet/view?id=<%= bet.id %>" class="btn btn-success view_bet"><i class="fa fa-eye"></i> Xem</a>
        <!--<a class="btn btn-danger del_bet"><i class="fa fa-remove fa-sm"></i> Xóa</a>-->
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <a href="/admin/cal" class="btn btn-success"><i class="fa fa-calculator"></i> Tính hết</a>
</div>


<!--// Modal Del Bet-->
<div class="modal fade" id="delBetModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-remove fa-sm"></i> XEM TIN NHẮN</h4>
      </div>
      <div class="modal-body">
        <p>Bạn muốn xem thông tin đánh đề của tin nhắn này ?</p>
        <form class="form-horizontal" id="del-bet-form">
          <input type="text" class="sr-only" name="id" value="">
          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-success"><i class="fa fa-eye fa-sm"></i> Xóa</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--// Modal Edit Bet-->
<div class="modal fade" id="editBetModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-pencil-square-o"></i> SỬA TIN NHẮN</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="edit-bet-form">
          <div class="form-group">
            <label class="control-label col-sm-3" for="msgedit">Tin Nhắn Gốc</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="oldmsg" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="msgedit">Tin Nhắn Mới</label>
            <div class="col-sm-9">
              <input class="sr-only" name="id" value="">
              <input type="text" class="form-control" name="msgedit" id="msgedit" placeholder="Nhập nội dung">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Sửa</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

