<%- partial ('../common/root_nav.ejs') %>


<div class="container" id="page-user-manager">
  <div class="alert alert-success">
    <strong>Bây giờ là <span class="getdata-time"><%= getdata.time %></span> ngày <span class="getdata-date"><%= getdata.date %></span></strong> KQXS mới nhất là ngày <span class="ketquaxoso-moinhat"><%= latestBet %></span><span class="noidung-tieptheo"></span>
  </div>


  <h3>Danh Sách Đại Lý
    <span class="pull-right">
      <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addUserModal">
        <i class="fa fa-plus fa-lg"></i> Thêm Đại Lý</a></span></h3>
  <table class="table table-hover" id="manage-user">
    <thead>
    <tr>
      <th>Tên</th>
      <th>Số Điện Thoại</th>
      <th>Ngày Tạo</th>
      <th>Hạn Dùng</th>
      <th>Xử lý</th>

    </tr>
    </thead>
    <tbody>
    <% _.each(foundUsers,function(user) { %>
    <tr>
      <td class="user_name"><%= user.name %></td>
      <td class="user_phone"><%= user.phone %></td>
      <td class="user_created"><%= user.createdAt %></td>
      <td class="user_expired"><%= user.expired %></td>
      <td class="user_submit">
        <a href="/root/user/<%= user.phone %>" class="btn btn-primary"><i class="fa fa-eye"></i> Xem</a>
        <a class="btn btn-danger del_user"><i class="fa fa-remove fa-sm"></i> Xóa</a>
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>

<!--// Modal Add Player-->
<div class="modal fade" id="addUserModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-plus"></i> THÊM ĐẠI LÝ</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="add-user-form">
          <div class="form-group">
            <label class="control-label col-sm-3" for="name">Tên</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="phone">Điện Thoại</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="nhập số điện thoại">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="password">Mật Khẩu</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="password" id="password" placeholder="nhập mật khẩu">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="expired">Hạn Dùng</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="expired" id="expired" placeholder="nhập hạn sử dụng tài khoản">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Thêm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
